 {# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{serviceName}}</h1>
      <div id="chat"></div>
      <div class="govuk-cards govuk-cards--2">
      <div class="govuk-cards--2__item govuk-card--dashboard">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Document Parser</h2>
          <p class="govuk-body">
            parse document content.
          </p>
          <ul class="govuk-list">
            <li>
                <a href="/document-parser" class="govuk-link">Parse</a>
            </li>
          </ul>
        </div>
        <div class="govuk-cards--2__item govuk-card--dashboard">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Documents</h2>
          <p class="govuk-body">
            Interrogate Knowledgebase documents.
          </p>
          <ul class="govuk-list">
            <li>
                <a href="/documents/chat" class="govuk-link">Interrogate</a>
            </li>
          </ul>
        </div>
        <div class="govuk-cards--2__item govuk-card--dashboard">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Knowledgebase</h2>
          <p class="govuk-body">
            Manage and upload content to the knowledgebase.
          </p>
          <ul class="govuk-list">
            <li>
                <a href="/knowledge-base" class="govuk-link">Manage</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script>
    var socket = new io('http://localhost:3001');
    socket.on('chat', (data) => {
      //// document.getElementById('chat').innerHTML += '<p>' + data.hello + '</p>';
    });
  </script>
{% endblock %}